* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.button_blue {
  border: none;
  outline: none;
  width: 50%;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #529cea;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transform: translateX(80px);
  margin-bottom: 10px;
  margin-top: 10px;
}

.button_green {
  border: none;
  outline: none;
  width: 70%;
  height: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transform: translateX(55px);
  background: #33773d;
}

.WelcomeTextBlue {
  width: 100%;
  position: absolute;
  margin-left: 8%;
  color: #4c8dc3;
  margin-top: 10px;
  font-weight: 1000px;
  font-size: 30px;
  line-height: 1;
  transform: translateY(300px);
}
.WelcomeTextBlack {
  width: 100%;
  position: absolute;
  margin-left: 20%;
  font-weight: 1000px;
  color: #000;
  margin-top: 10px;
  font-size: 20px;
  line-height: 1;
  transform: translateY(275px);
}
.login {
  width: 100%;
  min-height: 60vh;
  padding: 0px 0px;
  background: #0000;
  /* margin: auto; */
  position: relative;
}

.login .Applogo {
  width: 40%;
  position: absolute;
  vertical-align: middle;
  margin-left: 8%;
  object-fit: contain;

  transform: translateY(60%);
  /* transform: translateX(30%); */
}
.login .loginContainer {
  padding: 60px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 400px;
  width: 35%;

  max-width: 520px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #192539;
  transform: translateX(70%);
  border-radius: 10px;
  /* box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.8); */
}
.login .loginContainer .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 900px;
  transform: translateX(110px);
}

.login .loginContainer .line {
  color: white;
  padding: 10px 10px;
  width: 100%;
}
.login .loginContainer .smalltext {
  color: white;
  margin-top: 10px;
  display: block;
  font-size: 14px;
  line-height: 1;
  text-decoration: italic;
}

.login .loginContainer label {
  color: white;
  margin: 10px 0;
  display: block;
  font-size: 18px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  color: #000;
  letter-spacing: 1px;
  cursor: pointer;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 10px 0 0 0;
  text-align: center;
  color: #fff;
  text-decoration: italic;
}

.login .loginContainer .btnContainer p span {
  color: white;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  align-items: center;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  text-decoration: underline;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 14px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: #192539;
}

.hero nav {
  background: #529cea;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #3a2b58;
}
