* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.login {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  padding: 0px 0px;
  background: #0000;
  /* margin: auto; */
  position: relative;
}

.login .WelcomeTextBlue {
  width: 100%;
  position: absolute;
  margin-left: 8%;
  color: #4c8dc3;
  margin-top: 27%;
  margin-right: 10%;
  font-weight: 1000px;
  font-size: 32px;
  line-height: 1;
  float: left;
}
.login .WelcomeTextBlack {
  width: 100%;
  position: absolute;
  float: left;
  margin-top: 25%;
  margin-left: 15%;
  margin-right: 10%;
  font-weight: 1000px;
  color: #000;
  font-size: 22px;
  line-height: 1;
}

.login .Applogo {
  width: 40%;
  position: absolute;
  margin-left: 0%;
  float: left;
  transform: translateY(80%);
  vertical-align: middle;
  /* transform: translateX(30%); */
}
.login .loginContainer {
  padding: 60px;
  margin-top: 5%;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 10px;
  width: 35%;
  max-width: 520px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #192539;
  float: right;
  vertical-align: middle;
  border-radius: 10px;
  /* box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.8); */
}

.login .loginContainer .button_green {
  border: none;
  outline: none;
  width: 70%;
  height: 100%;
  margin-top: 10px;
  padding: 10px 0px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 10px;
  background: #33773d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.login .loginContainer .button_blue {
  border: none;
  outline: none;
  width: 50%;
  padding: 10px 0px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #529cea;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.login .loginContainer .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .loginContainer .line {
  color: white;
  padding: 10px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .loginContainer .smalltext {
  color: white;
  margin-top: 10px;
  display: block;
  font-size: 14px;
  line-height: 1;
  text-decoration: italic;
}

.login .loginContainer label {
  color: white;
  margin: 10px 0;
  display: block;
  font-size: 18px;
  line-height: 1;
}

.login .loginContainer .input-left {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  color: #000;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 10px 0 0 0;
  text-align: center;
  color: #fff;
  text-decoration: italic;
}

.login .loginContainer .btnContainer p span {
  color: white;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  align-items: center;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  text-decoration: underline;
}

.login .loginContainer .errorMsg {
  color: #ff0033;
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .login .WelcomeTextBlue {
    display: none;
  }
  .login .WelcomeTextBlack {
    display: none;
  }

  .login .Applogo {
    width: 50%;
    float: none;
    position: absolute;
    vertical-align: none;
    margin: 0 auto;
    margin-left: 15%;
  }
  .login .loginContainer {
    float: none;
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 400px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    background: #192539;
    border-radius: 10px;
    transform: translateY(250px);
    /* box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.8); */
  }
}
@media only screen and (max-width: 411px) {
  .login .WelcomeTextBlue {
    display: none;
  }
  .login .WelcomeTextBlack {
    display: none;
  }

  .login .Applogo {
    width: 50%;
    float: none;
    position: absolute;
    vertical-align: none;
    margin: 0px auto;
    margin-left: 15%;
    margin-bottom: 30%;
  }
  .login .loginContainer {
    float: none;
    padding: 60px;
    margin: auto;
    margin-top: 10%;
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    background: #192539;
    border-radius: 10px;
    transform: translateY(100px);
    /* box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.8); */
  }
}
/* ################### SIGN UP ################ */
.signup {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #fff;
  display: flex;
}

.signup .signupContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  display: block;
  flex-direction: column;
  justify-content: center;
  background: #192539;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.signup .signupContainer .button_gray {
  border: none;
  outline: none;
  width: 50%;
  padding: 10px 0px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #d3d3d3;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup .signupContainer .button_green {
  border: none;
  outline: none;
  width: 50%;
  padding: 10px 0px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #33773d;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup .signupContainer .styledpopup .button_green {
  border: none;
  outline: none;
  width: 50%;
  padding: 10px 0px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #33773d;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup .signupContainer .label-right .p_i {
  margin: 10px 0px 10px 220px;
}

.signup .signupContainer .label-right .p_ii {
  margin: 10px 0px 10px 260px;
}

.signup .signupContainer .label-right .p_iii {
  margin: 10px 0px 10px 230px;
}

.signup .signupContainer .input-right {
  width: 40%;
  border: none;
  outline: none;
  margin: 0px 0px;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  color: #000;
  letter-spacing: 1px;
  display: inline-block;
}

.signup .signupContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.signup .signupContainer .btnContainer p {
  margin: 10px 0 0 0;
  text-align: center;
  color: #fff;
  text-decoration: italic;
}

.signup .signupContainer .btnContainer p span {
  color: white;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  align-items: center;
  transition: all 400ms ease-in-out;
}

.signup .signupContainer .btnContainer p span:hover {
  text-decoration: underline;
}

.signup .signupContainer .errorMsg {
  color: #ff0033;
  font-size: 14px;
}
.signup .signupContainer .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup .signupContainer .label-left {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.signup .signupContainer .blue {
  color: #192539;
  background-color: #192539;
  border: none;
}
.signup .signupContainer .input-left {
  width: 40%;
}
.signup .signupContainer .label-right {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.signup .signupContainer .input-right {
  color: white;
}

/* #######################################NavBarHome##################### */
.bottombar {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bottombar .bottombarContainer {
  width: 100%;
  padding: 10px 2px;
  /* background: linear-gradient(
    0deg,
    rgba(151, 151, 151, 0.15) -61.36%,
    rgba(151, 151, 151, 0) 254.55%
  ); */

  background-color: #f2f2f2;
  margin: auto auto auto 0px;

  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
}

.bottombar .bottombarContainer p span {
  color: black;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 5px auto;
  cursor: pointer;
  display: flex;
  float: right;
  transition: all 400ms ease-in-out;
}
.bottombar .bottombarContainer .smalltext {
  color: black;
  margin: auto 10px;
  font-size: 14px;
  line-height: 1;
  text-decoration: italic;
  float: right;
}
.bottombar .bottombarContainer p span:hover {
  text-decoration: underline;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.bottombarhome {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottombarhome .bottombarhomeContainer {
  width: 100%;
  padding: 10px 2px;
  /* background: linear-gradient(
    0deg,
    rgba(151, 151, 151, 0.15) -61.36%,
    rgba(151, 151, 151, 0) 254.55%
  ); */

  background-color: #f2f2f2;
  margin: auto auto auto 0px;

  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
}

.bottombarhome .bottombarhomeContainer p span {
  color: black;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 5px auto;
  cursor: pointer;
  display: flex;
  float: right;
  transition: all 400ms ease-in-out;
}
.bottombarhome .bottombarhomeContainer .smalltext {
  color: black;
  margin: auto 10px;
  font-size: 14px;
  line-height: 1;
  text-decoration: italic;
  float: right;
}
.bottombarhome .bottombarhomeContainer p span:hover {
  text-decoration: underline;
}

/* ################### Navbar ################ */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .navbarContainer_gray {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* background-color: linear-gradient(
    0deg,
    rgba(151, 151, 151, 0.15) -61.36%,
    rgba(151, 151, 151, 0) 254.55%
  ); */
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  margin: 0px;
  left: 0px;
  right: 0px;
}
.navbar .navbarContainer_gray .navbarContainer {
  width: 100%;
  background: #529cea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* position: fixed;
  top: 45px;
  left: 0px;
  right: 0px; */
  margin: 0px;
  /* transform: translateY(52px); */
}
.navbar .navbarContainer_gray .navbarContainer p span {
  color: white;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 400ms ease-in-out;
}
.navbar .navbarContainer_gray .navbarContainer .smalltext {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  font-size: 14px;
  line-height: 2;
  text-decoration: italic;
  margin: 10px 10px;
}
.navbar .navbarContainer_gray .navbarContainer p span:hover {
  text-decoration: underline;
}
.navbar .navbarContainer_gray .navbarContainer .titletext {
  color: white;
  margin: auto;
  font-size: 20px;
  font-weight: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2;
  transform: translateX(-30px);
}
.navbar .navbarContainer_gray .Applogo {
  width: 10%;
  margin: auto;
  display: block;
  float: left;
}
.navbar .navbarContainer_gray .titletext {
  color: #4c8dc3;
  margin: 20px auto auto 5px;
  line-height: 25px;
  font-size: 25px;
  font-weight: 900px;
  display: block;
  float: left;
  align-items: center;
  justify-content: center;
}

.navbar .navbarContainer_gray .search {
  color: black;
  margin: 10px auto;
  font-size: 18px;
  font-weight: 500px;
  border-radius: 100%;
  background: transparent;
  background-color: transparent;
  display: block;
  float: right;
  align-items: center;
  justify-content: center;
}

.navbar .navbarContainer_gray p span {
  color: black;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 10px 10px;
  cursor: pointer;
  display: block;
  transition: all 400ms ease-in-out;
  float: right;
}
.navbar .navbarContainer_gray .smalltext {
  color: black;
  margin: 10px 10px;
  display: block;
  float: right;
  font-size: 14px;
  line-height: 1;
  text-decoration: italic;
}
.navbar .navbarContainer_gray p span:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 400px) {
  .navbar .navbarContainer_gray {
    display: contents;
  }
  .navbar .navbarContainer_gray .search {
    display: none;
  }
  .navbar .navbarContainer_gray .titletext {
    display: none;
  }
  .navbar .navbarContainer_gray .navbarContainer {
    display: contents;
  }

  .navbar .navbarContainer_gray .Applogo {
    display: none;
  }
  .navbar .navbarContainer_gray .navbarContainer .titletext {
    color: #4c8dc3;
    position: absolute;
    top: 7px;
    left: 10%;
    font-size: 14px;
    font-weight: 500px;
  }
  .navbar .navbarContainer_gray p span {
    color: black;
    position: fixed;
    top: 5px;
    right: 10px;
  }
  .navbar .navbarContainer_gray .smalltext {
    color: black;
  }
  .navbar .navbarContainer_gray p span:hover {
    text-decoration: underline;
  }

  .navbar .navbarContainer_gray .navbarContainer .smalltext span {
    color: black;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-decoration: italic;
    transform: translateX(-60%);
  }
}

/* #######################################NAVBAR HOME############################# */

.navbarhome {
  width: 100%;
  display: flex;
}
.navbarhome .navbarhomeContainer_gray {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  /* background-color: linear-gradient(
    0deg,
    rgba(151, 151, 151, 0.15) -61.36%,
    rgba(151, 151, 151, 0) 254.55%
  ); */
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  margin: 0px;
  left: 0px;
  right: 0px;
}
.navbarhome .navbarhomeContainer_gray .navbarhomeContainer {
  width: 100%;
  background: #529cea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* position: fixed;
  top: 45px;
  left: 0px;
  right: 0px; */
  margin: 0px;
  /* transform: translateY(52px); */
}
.navbarhome .navbarhomeContainer_gray .navbarhomeContainer p span {
  color: white;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 400ms ease-in-out;
}
.navbarhome .navbarhomeContainer_gray .navbarhomeContainer .smalltext {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  font-size: 14px;
  line-height: 2;
  text-decoration: italic;
  margin: 10px 10px;
}
.navbarhome .navbarhomeContainer_gray .navbarhomeContainer p span:hover {
  text-decoration: underline;
}
.navbarhome .navbarhomeContainer_gray .navbarhomeContainer .titletext {
  color: white;
  margin: auto;
  font-size: 20px;
  font-weight: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2;
  transform: translateX(-30px);
}
.navbarhome .navbarhomeContainer_gray .Applogo {
  width: 10%;
  margin: auto;
  display: block;
  float: left;
}
.navbarhome .navbarhomeContainer_gray .titletext {
  color: #4c8dc3;
  margin: 20px auto auto 5px;
  line-height: 25px;
  font-size: 25px;
  font-weight: 900px;
  display: block;
  float: left;
  align-items: center;
  justify-content: center;
}

.navbarhome .navbarhomeContainer_gray .search {
  color: black;
  margin: 10px auto;
  font-size: 18px;
  font-weight: 500px;
  border-radius: 100%;
  background: transparent;
  background-color: transparent;
  display: block;
  float: right;
  align-items: center;
  justify-content: center;
}

.navbarhome .navbarhomeContainer_gray p span {
  color: black;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 10px 10px;
  cursor: pointer;
  display: block;
  transition: all 400ms ease-in-out;
  float: right;
}
.navbarhome .navbarhomeContainer_gray .smalltext {
  color: black;
  margin: 10px;
  display: block;
  float: right;
  font-size: 14px;
  line-height: 1;
  text-decoration: italic;
  background-color: #f2f2f2;
}

.navbarhome .navbarhomeContainer_gray .smalltext .my-className {
  color: black;
  margin: 0% 1%;
  display: block;
  float: right;
  /* border: none; */
  /* border-color: #000;
  border-width: 2px; */
  font-size: 14px;
  line-height: 1;
  text-decoration: italic;
  background-color: #f2f2f2;
  min-width: max-content;
}

.navbarhome .navbarhomeContainer_gray p span:hover {
  text-decoration: underline;
}

/* ################### BottomBar ################ */

/* ################### Register ################ */
.register {
  width: 100%;
  min-height: 60vh;
  padding: 0 20px;
  background: #fff;
  display: flex;
}

.register .registerContainer {
  padding: 60px;
  margin: 60px auto;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  display: block;
  flex-direction: column;

  justify-content: center;
  background: #192539;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.register .registerContainer .button_blue {
  border: none;
  outline: none;
  width: 50%;
  padding: 10px 0px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #529cea;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register .registerContainer .button_green {
  border: none;
  outline: none;
  width: 50%;
  padding: 10px 0px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #61ce7d;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register .registerContainer .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register .registerContainer .label-left {
  color: white;
  margin: 10px 150px 10px 0px;
  display: inline-block;
  font-size: 18px;
}
.register .registerContainer .input-left {
  width: 40%;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  color: #000;
  letter-spacing: 1px;
  display: inline-block;
  margin: 10px 150px 10px 0px;
}
.register .registerContainer .label-right {
  color: white;

  display: inline-block;
  margin: auto;
  font-size: 18px;
  line-height: 1;
  text-align: left;
}

.register .registerContainer .label-right .p_i {
  margin: 10px 0px 10px 220px;
}

.register .registerContainer .label-right .p_ii {
  margin: 10px 0px 10px 260px;
}

.register .registerContainer .label-right .p_iii {
  margin: 10px 0px 10px 266px;
}

.register .registerContainer .label-right .p_iv {
  margin: 10px 0px 10px 235px;
}

.register .registerContainer .label-right .p_v {
  margin: 10px 0px 10px 58px;
}

.register .registerContainer .input-right {
  width: 40%;
  border: none;
  outline: none;
  margin: 0px 0px;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  color: #000;
  letter-spacing: 1px;
  display: inline-block;
}

.register .registerContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.register .registerContainer .btnContainer p {
  margin: 10px 0 0 0;
  text-align: center;
  color: #fff;
  text-decoration: italic;
}

.register .registerContainer .errorMsg {
  color: #ff0033;
  font-size: 14px;
}

/* ####################UnregisteredHomepage######################### */

.unregistered {
  width: 100%;
  min-height: 60vh;
  background: #fff;
  display: flex;
}

.unregistered .unregisteredContainer_left {
  padding: 60px;
  margin: 60px;
  width: 100%;
  min-width: 300px;
  min-height: 400px;
  display: block;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  float: left;
}

.unregistered .unregisteredContainer_right {
  padding: 60px;
  margin: 60px;
  width: 100%;
  margin-left: 20%;
  min-height: 400px;
  background: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  float: right;
}

.unregistered .unregisteredContainer_right .button_blue {
  outline: none;
  border: none;
  /* height: 35px;
  width: 45%; */
  padding: 10px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #529cea;
  border-radius: 10px;
  margin: 10px;
  display: block;
  align-items: center;
  justify-content: center;

  /* float: left; */
}

.unregistered .unregisteredContainer_right .button_red {
  outline: none;
  border: none;
  /* height: 35px;
  width: 45%; */
  padding: 10px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #ff0033;
  border-radius: 10px;
  margin: 10px;
  display: block;
  align-items: center;
  justify-content: center;

  /* float: left; */
}
.unregistered .unregisteredContainer_left .button_green {
  border: none;
  outline: none;
  /* width: 50%; */
  padding: 30%;
  color: #fff;

  font-size: 18px;
  letter-spacing: 1px;
  background: #61ce7d;
  border-radius: 10px;
  margin: 30%;
  align-items: center;
  justify-content: center;
  /* transform: translateX(-10px); */
}
.unregistered .unregisteredContainer_right .calendar {
  align-items: center;
  justify-content: center;
  margin: 50%;
  transform: translateX(10%);
}
.unregistered .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unregistered .unregisteredContainer_left .label-left {
  color: black;
  margin: auto;
  font-size: 30px;
}

.unregistered .unregisteredContainer_right .label-right {
  color: black;
  margin: 10px auto;
  font-size: 30px;
}

.unregistered .unregisteredContainer_right .label-right .p_i {
  margin: 10px auto;
  font-size: 20px;
}

.unregistered .unregisteredContainer_right .label-right .p_ii {
  margin: 10px auto;
  font-size: 20px;
}

/* @media only screen and (max-width: 1564px) {
  .unregistered .unregisteredContainer_left .button_green {
    border: none;
    outline: none;
    width: 80%;
    min-width: 40px;
    padding: 30px;
    color: #fff;
    margin: 40%;
    font-size: 18px;
    letter-spacing: 1px;
    background: #61ce7d;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    transform: translateX(-10px);
  }
} */
/* ############################SPONSOR HOME PAGE ################################## */

.sponsorHomepage {
  width: 100%;
  min-height: 60vh;
  background: #fff;
  display: flex;
}

.sponsorHomepage .sponsorHomepageContainer_left {
  padding: 60px 60px 60px 60px;
  margin: 60px 60px 60px 60px;
  width: 400%;
  min-height: 400px;
  display: block;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.sponsorHomepage .sponsorHomepageContainer_right {
  padding: 60px;
  margin: 60px 60px 60px 60px;
  width: 100%;
  min-height: 400px;
  background: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.sponsorHomepage .sponsorHomepageContainer_inter {
  padding: 60px;
  margin: 60px 60px 60px 60px;
  width: 100%;
  min-height: 400px;
  background: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  float: none;
  display: none;
}

.sponsorHomepage .sponsorHomepageContainer_right .button_blue {
  outline: none;
  border: none;
  /* height: 35px;
  width: 45%; */
  padding: 10px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #529cea;
  border-radius: 10px;
  margin: 10px;
  display: block;
  align-items: center;
  justify-content: center;

  /* float: left; */
}

.sponsorHomepage .sponsorHomepageContainer_right .button_redd {
  outline: none;
  border: none;
  /* height: 35px;
  width: 45%; */
  padding: 10px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #ff0033;
  border-radius: 10px;
  margin: 10px;
  display: block;
  align-items: center;
  justify-content: center;
}
.sponsorHomepage .sponsorHomepageContainer_left .button_green {
  padding: 30px;

  color: #000;
  font-size: 18px;
  letter-spacing: 1px;
  background: white;
  border-radius: 10px;
  margin: 15px 20px;
  border: 1px solid black;
  outline: 2px;
}
.sponsorHomepage .sponsorHomepageContainer_right .calendar {
  align-items: center;
  justify-content: center;
  margin: 50%;
  transform: translateX(10%);
}
.sponsorHomepage .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sponsorHomepage .sponsorHomepageContainer_left .label-left {
  color: black;
  margin: auto;
  font-size: 30px;
}

.sponsorHomepage .sponsorHomepageContainer_right .label-right {
  color: black;
  margin: 10px auto;
  font-size: 30px;
}

.sponsorHomepage .sponsorHomepageContainer_right .label-right .p_i {
  margin: 10px auto;
  font-size: 20px;
}

.sponsorHomepage .sponsorHomepageContainer_right .label-right .p_ii {
  margin: 10px auto;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  /* .sponsorHomepage .sponsorHomepageContainer_left {
    padding: 100px;
    margin: 60px 60px 60px 60px;
    width: 50%;
    background-color: #192539;
  } */
  .sponsorHomepage .sponsorHomepageContainer_left .button_green {
    margin: 70px;
    padding: none;
  }
}

/* @media only screen and (max-width: 411px) {
  .sponsorHomepage .sponsorHomepageContainer_left {
    width: 900%;
    margin: 60px;
    background-color: red;
    padding: auto;
    float: none;
  }
  .sponsorHomepage .sponsorHomepageContainer_inter {
    padding: 60px;
    margin: 60px 60px 60px 60px;
    width: 100%;
    min-height: 400px;
    background: black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .sponsorHomepage .sponsorHomepageContainer_right {
    width: 900%;
    margin: 60px;
    background-color: #61ce7d;
    padding: auto;
    float: none;
  }
} */

/* ######################################EditmyprofileSponsor#################### */
.editMyProfileSponsor {
  width: 100%;
  min-height: 60vh;
  padding: 0 20px;
  background: #fff;
  display: flex;
}

.editMyProfileSponsor .editMyProfileSponsorContainer_0 {
  padding: 10px;
  margin: 100%;
  width: 100%;
  max-width: 900px;
  min-height: 20px;
  display: flex;

  justify-content: center;
  background: #192539;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.editMyProfileSponsor .editMyProfileSponsorContainer_0 .label-leftt {
  color: black;
  font-size: 18px;
  display: inline-block;
}
.editMyProfileSponsor .editMyProfileSponsorContainer_0 .but_green {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #61ce7d;
  border-radius: 10px;
  height: 50px;
  margin: 10px 10px auto 10px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.editMyProfileSponsor .editMyProfileSponsorContainer {
  padding: 60px;
  margin: 60px auto;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  background: #192539;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.editMyProfileSponsor .editMyProfileSponsorContainer .button_green {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #61ce7d;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.editMyProfileSponsor .editMyProfileSponsorContainer .button_blue {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #529cea;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.editMyProfileSponsor .editMyProfileSponsorContainer .button_redd {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #ff0033;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.editMyProfileSponsor .editMyProfileSponsorContainer .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editMyProfileSponsor .editMyProfileSponsorContainer .label-left {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.editMyProfileSponsor .editMyProfileSponsorContainer .blue {
  color: #192539;
  background-color: #192539;
  border: none;
}
.editMyProfileSponsor .editMyProfileSponsorContainer .input-left {
  width: 40%;
}
.editMyProfileSponsor .editMyProfileSponsorContainer .label-right {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.editMyProfileSponsor .editMyProfileSponsorContainer .input-right {
  color: white;
}

.editMyProfileSponsor .editMyProfileSponsorContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.editMyProfileSponsor .editMyProfileSponsorContainer .btnContainer p {
  margin: 10px 0 0 0;
  text-align: center;
  color: #fff;
  text-decoration: italic;
}

.editMyProfileSponsor .editMyProfileSponsorContainer .errorMsg {
  color: #ff0033;
  font-size: 14px;
}

/* ################### ChildrenProfile################## */

.childrenProfiles {
  width: 100%;
  min-height: 60vh;
  padding: 0 20px;
  background: #fff;
  display: flex;
}

.childrenProfiles .childrenProfilesContainer {
  padding: 60px;
  margin: 60px auto;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  display: block;
  flex-direction: column;

  justify-content: center;
  background: #192539;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.childrenProfiles .childrenProfilesContainer .button_green {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #61ce7d;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.childrenProfiles .childrenProfilesContainer .button_blue {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  letter-spacing: 1px;
  background: #529cea;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.childrenProfiles .childrenProfilesContainer .button_redd {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  letter-spacing: 1px;
  background: #ff5a5a;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.childrenProfiles .childrenProfilesContainer .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.childrenProfiles .childrenProfilesContainer .label-left {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.childrenProfiles .childrenProfilesContainer .blue {
  color: #192539;
  background-color: #192539;
  border: none;
}
.childrenProfiles .childrenProfilesContainer .input-left {
  width: 40%;
}
.childrenProfiles .childrenProfilesContainer .label-right {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.childrenProfiles .childrenProfilesContainer .input-right {
  color: white;
}

.childrenProfiles .childrenProfilesContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.childrenProfiles .childrenProfilesContainer .btnContainer p {
  margin: 10px 0 0 0;
  text-align: center;
  color: #fff;
  text-decoration: italic;
}

.childrenProfiles .childrenProfilesContainer .errorMsg {
  color: #ff0033;
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .childrenProfiles .childrenProfilesContainer .button_redd {
    min-height: 75px;
  }
}

/* ##############################FAQs######################################## */

.faqs {
  width: 100%;
  min-height: 60vh;
  padding: 0 20px;
  background: #fff;
  display: flex;
}

.faqs .faqsContainer {
  padding: 60px;
  margin: 60px auto;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  display: block;
  flex-direction: column;

  justify-content: center;
  background: #192539;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.faqs .faqsContainer .button_green {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #61ce7d;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.faqs .faqsContainer .button_redd {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  letter-spacing: 1px;
  background: #ff5a5a;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.faqs .faqsContainer .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faqs .faqsContainer .label-left {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.faqs .faqsContainer .blue {
  color: #192539;
  background-color: #192539;
  border: none;
}
.faqs .faqsContainer .input-left {
  width: 40%;
}
.faqs .faqsContainer .label-right {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.faqs .faqsContainer .input-right {
  color: white;
}

.faqs .faqsContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.faqs .faqsContainer .btnContainer p {
  margin: 10px 0 0 0;
  text-align: center;
  color: #fff;
  text-decoration: italic;
}

/* ################################RequestaMeeting######################################### */
.requestAMeeting {
  width: 100%;
  min-height: 60vh;
  padding: 0 20px;
  background: #fff;
  display: flex;
}

.requestAMeeting .requestAMeetingContainer {
  padding: 60px;
  margin: 60px auto;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  display: block;
  flex-direction: column;

  justify-content: center;
  background: #192539;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.requestAMeeting .requestAMeetingContainer .button_green {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #61ce7d;
  border-radius: 10px;
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.requestAMeeting .requestAMeetingContainer .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.requestAMeeting .requestAMeetingContainer .label-left {
  color: white;
  font-size: 18px;
  margin-top: 5px;
  margin: 5px;
}

.requestAMeeting .requestAMeetingContainer .input-left {
  width: 40%;
}
.requestAMeeting .requestAMeetingContainer .label-right {
  color: white;
  font-size: 18px;
  margin-top: 5px;
  margin: 5px;
}

.requestAMeeting .requestAMeetingContainer .input-right {
  color: white;
}

.requestAMeeting .requestAMeetingContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.requestAMeeting .requestAMeetingContainer .btnContainer p {
  margin: 10px 0 0 0;
  text-align: center;
  color: #fff;
  text-decoration: italic;
}

.requestAMeeting .requestAMeetingContainer .errorMsg {
  color: #ff0033;
  font-size: 14px;
}

/* ################################# PaymentHistory #################################### */
.paymentHistory {
  width: 100%;
  min-height: 60vh;
  padding: 0 20px;
  background: #fff;
  display: flex;
}

.paymentHistory .paymentHistoryContainer {
  padding: 60px;
  margin: 60px auto;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  display: block;
  flex-direction: column;

  justify-content: center;
  background: #192539;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.paymentHistory .paymentHistoryContainer .button_green {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #61ce7d;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.paymentHistory .paymentHistoryContainer .button_purple {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #ff5a5a;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.paymentHistory .paymentHistoryContainer .button_blue {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #529cea;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.paymentHistory .paymentHistoryContainer .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paymentHistory .paymentHistoryContainer .label-left {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.paymentHistory .paymentHistoryContainer .blue {
  color: #192539;
  background-color: #192539;
  border: none;
}

.paymentHistory .paymentHistoryContainer .input-left {
  width: 40%;
}
.paymentHistory .paymentHistoryContainer .label-right {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.paymentHistory .paymentHistoryContainer .input-right {
  color: white;
}

.paymentHistory .paymentHistoryContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.paymentHistory .paymentHistoryContainer .btnContainer p {
  margin: 10px 0 0 0;
  text-align: center;
  color: #fff;
  text-decoration: italic;
}
/* ##############################ContactUs################################ */

.contactUs {
  width: 100%;
  min-height: 60vh;
  padding: 0 20px;
  background: #fff;
  display: flex;
}

.contactUs .contactUsContainer {
  padding: 60px;
  margin: 60px auto;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  display: block;
  flex-direction: column;

  justify-content: center;
  background: #192539;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.contactUs .contactUsContainer .button_green {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #61ce7d;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.contactUs .contactUsContainer .button_redd {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  letter-spacing: 1px;
  background: #ff5a5a;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.contactUs .contactUsContainer .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactUs .contactUsContainer .label-left {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.contactUs .contactUsContainer .blue {
  color: #192539;
  background-color: #192539;
  border: none;
}
.contactUs .contactUsContainer .input-left {
  width: 40%;
}
.contactUs .contactUsContainer .label-right {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.contactUs .contactUsContainer .input-right {
  color: white;
}

.contactUs .contactUsContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.contactUs .contactUsContainer .btnContainer p {
  margin: 10px 0 0 0;
  text-align: center;
  color: #fff;
  text-decoration: italic;
}
/* ####################### AcademicReport ############################## */

.academicReportsSponsor {
  width: 100%;
  min-height: 60vh;
  padding: 0 20px;
  background: #fff;
  display: flex;
}

.academicReportsSponsor .academicReportsSponsorContainer {
  padding: 60px;
  margin: 60px auto;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  display: block;
  flex-direction: column;

  justify-content: center;
  background: #192539;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.academicReportsSponsor .academicReportsSponsorContainer .button_green {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #61ce7d;
  border-radius: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.academicReportsSponsor .academicReportsSponsorContainer .button_redd {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  letter-spacing: 1px;
  background: #ff5a5a;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.academicReportsSponsor .academicReportsSponsorContainer .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.academicReportsSponsor .academicReportsSponsorContainer .label-left {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.academicReportsSponsor .academicReportsSponsorContainer .blue {
  color: #192539;
  background-color: #192539;
  border: none;
}
.academicReportsSponsor .academicReportsSponsorContainer .input-left {
  width: 40%;
}
.academicReportsSponsor .academicReportsSponsorContainer .label-right {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

.academicReportsSponsor .academicReportsSponsorContainer .input-right {
  color: white;
}

.academicReportsSponsor .academicReportsSponsorContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.academicReportsSponsor .academicReportsSponsorContainer .btnContainer p {
  margin: 10px 0 0 0;
  text-align: center;
  color: #fff;
  text-decoration: italic;
}

.academicReportsSponsor .academicReportsSponsorContainer .errorMsg {
  color: #ff0033;
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .academicReportsSponsor .academicReportsSponsorContainer .button_green {
    min-height: 75px;
  }
}

/* ####################### Letter Box ########################## */

.letterBox {
  width: 100%;
  min-height: 60vh;
  padding: 0 20px;
  background: #fff;
  display: flex;
}

.letterBox .letterBoxContainer {
  padding: 60px;
  margin: 60px auto;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  display: block;
  flex-direction: column;

  justify-content: center;
  background: #192539;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.letterBox .letterBoxContainer .button_green {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #61ce7d;
  border-radius: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.letterBox .letterBoxContainer .button_darkblue {
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: #192539;
  border-radius: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
.letterBox .letterBoxContainer .button_gray {
  color: #000;
  font-size: 18px;
  letter-spacing: 1px;
  background: #fff;
  border-radius: 10px;
  border-bottom: none;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  width: 50%;
}

.letterBox .letterBoxContainer .my-className {
  border-radius: 5px;
  padding: 0px;
  margin: 10px;
}
.letterBox .letterBoxContainer .titletext {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.letterBox .letterBoxContainer .label-left {
  color: white;
  font-size: 18px;
  margin-top: 5px;
  margin: 5px;
}

.letterBox .letterBoxContainer .input-left {
  min-width: 100%;
  min-height: max-content;
  margin: 10px;
}
.letterBox .letterBoxContainer .label-right {
  color: white;
  font-size: 18px;
  margin-top: 5px;
  margin: 5px;
}

.letterBox .letterBoxContainer .input-right {
  color: white;
}

.letterBox .letterBoxContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.letterBox .letterBoxContainer .btnContainer p {
  margin: 10px 0 0 0;
  text-align: center;
  color: #fff;
  text-decoration: italic;
}

.letterBox .letterBoxContainer .errorMsg {
  color: #ff0033;
  font-size: 14px;
}
/* ######################################################################### */
.hero {
  width: 100%;
  min-height: 100vh;
  background: #192539;
}

.hero nav {
  background: #529cea;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #3a2b58;
}
